button {
  font-size: 16px;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

input {
  font-size: 16px;
  margin: 1em;
}

header {
  height: 4em;
  display: flex;
  background-color: rgb(197, 134, 134);
  align-items: center;
  justify-content: center;
}

header button {
  margin: 1em;
  border: none;
  background-color: transparent;
  padding: 0.4em;
}

header button:hover {
  border: 0.07em solid black;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  cursor: pointer;
}

#favorite {
  font-variation-settings:
  'FILL' 100,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  color: red;
  cursor: pointer;
}